header > ul > li {
  display: inline;
  font-size: large;
  margin: 10px;
}
ul li a {
  text-decoration: none;
}
footer {
  text-align: center;
  margin-top: 20px;
}
figure {
  text-align: center;
  margin: 0;
}
p {
  text-align: justify;
}
nav > ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 10px;
  padding: 5px;
}
nav li:hover {
  background: #f1acb3;
}
nav li a {
  text-decoration: none;
  color: black;
}

/* nested manu style */
nav li .dropdown {
  display: none;
  position: absolute;
  background: rgb(230, 231, 146);
  padding-left: 10px;
}
nav li:hover .dropdown {
  display: block;
}
